<!DOCTYPE html>
<html>
<head>
	{{!-- <meta charset="UTF-8"> --}}
	<title>{{{_sections.title}}}</title>
	<link rel="stylesheet" type="text/css" href="/assets/bootstrap-3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/main.css">
    <link rel="icon" href="/img/logo/icon-scissor.png">
</head>
<body>
    {{!-- <div class="menu-ngang">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        <img src="/img/logo1.png">
                    </a>
                </div>
                <div class="search-box">
                    <form>
                        <input type="text" name="search" placeholder=" Tìm kiếm">
                    </form>
                    <button class="s-bnt" name="submit">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                </div>
                {{#if layoutVM.isLogged}}
                <ul class="nav navbar-nav navbar-right">
                    <div class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="/img/user.png" width="30px" height="30px"> {{layoutVM.curUser.fullname}} <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/account/profile">Profile</a></li>
                            <li role="presentation" class="divider"></li>
                            <li><a href="/cart">Giỏ hàng</a></li>
                            <li><a href="#">Đặt chỗ</a></li>
                            <li role="presentation" class="divider"></li>
                            <li><a id="lnkLogout" href="javascript:;">Đăng xuất</a></li>
                        </ul>
                    </div>
                {{else}}
                    <li><a href="/account/login">Đăng Nhập</a></li>
                    <li><a href="/account/register">Đăng Ký</a></li>
                </ul>
                {{/if}}
            </div>
            <!-- /.container-fluid -->
        </nav>
    </div> --}}
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<a class="navbar-brand" href="/"><img src="/img/logo/logo0.png" style="margin-bottom: 0; height: 30px; padding-top: 0px; padding-left: 35px; padding-right: 50px;"></a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<form class="navbar-form navbar-left" role="search">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Tìm kiếm">
					</div>
					<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
				</form>
				<ul class="nav navbar-nav navbar-right">
					{{#if layoutVM.isLogged}}
					<form id="frmLogout" method="post" action="/account/logout"></form>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="/img/logo/user.png" width="20px" height="20px"> {{layoutVM.curUser.fullname}}
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
                            <li><a href="/account/profile">Profile</a></li>
                            {{#if layoutVM.curUser.isAdmin}}
                            {{else}}
                            <li role="presentation" class="divider"></li>
                            <li><a href="/cart">Giỏ hàng</a></li>
                            <li><a href="/book">Đặt chỗ</a></li>
                            {{/if}}
                            <li role="presentation" class="divider"></li>
                            <li><a id="lnkLogout" href="javascript:;">Đăng xuất</a></li>
                        </ul>
					</li>
					{{else}}
					<li>
                        <a href="/account/register">Đăng ký</a>				
					</li>
					<li>
						<a href="/account/login">Đăng nhập</a>
					</li>
					{{/if}}
				</ul>
			</div>
		</div>
	</nav>
    <div class="col-md-2">
        {{#if layoutVM.curUser.isAdmin}}
        <div class="panel panel-info">
					<div class="panel-heading">
						<h3 class="panel-title">Dashboard</h3>
					</div>
					<div class="list-group">
						<a href="/account" class="list-group-item">👤 Người dùng</a>
						<a href="/category" class="list-group-item">📋 Danh mục</a>
						<a href="#" class="list-group-item">🛒 Sản phẩm</a>
                        <a href="#" class="list-group-item">💄 Dịch vụ</a>
					</div>
				</div>
        {{else}}
        <ul class="nav nav-pills nav-stacked">
            <li>
                <a id="logo" href="/">
                    <img src="/img/logo/logo.png">
                </a>
            </li>
            {{#each layoutVM.categories}} {{#if isService}}
            <li><a href="/service/byCat/{{catID}}">{{catName}}</a></li>
            {{else}}
            <li><a href="/product/byCat/{{catID}}">{{catName}}</a></li>
            {{/if}} {{/each}}
            <li>
                <a href="/home/about">Giới thiệu</a>
            </li>
        </ul>
        {{/if}}
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-10 col-md-10 col-lg-10">
                <div class="panel panel-default" style="border-style: hidden; box-shadow: 0 0 0 0;">
					{{!-- <div class="panel-heading" style="padding-top:60px">
						<h3 class="panel-title">
							{{{_sections.title}}}
						</h3>
					</div> --}}
					<div class="panel-body" style="padding-top:70px;">
						{{{body}}}
					</div>
				</div>
            </div>
        </div>
    </div>
    {{!--
    <div class="col-md-10">
        <img src="img/img-1.png">
    </div> --}}
	<script type="text/javascript" src="/assets/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="/assets/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript">
		$('#lnkLogout').on('click', function () {
			$('#frmLogout').submit();
		});
	</script> {{{_sections.js}}}

</body>
</html>